<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <title>Client-Example</title>
</head>
<body>
    <h2>There are {{ number_of_articles }} articles.</h2>
    {% for article in articles%}
    <div>
        <h1>{{ article.title }}</h1>
        <h2>{{ article.author }}</h2>
        {% for contentblock in article.content %}
            {% for pic in contentblock.pics %}
                <img class="parapicture" src="{{ pic }}">
            {% endfor %}
                <p>{{ contentblock.para }}</p>
        {% endfor %}
        <p>{{ article.tags }}</p>
        <p>{{ article.date }}</p>
    </div>
    {% endfor %}
</body>